<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Введение в Java - разработку</title>
    <style>
      .types {
          color: blue;
          font-family: arial;
          background: beige;
       }
   </style>
</head>
<body>
<h1>Урок 1</h1>
<h2>Знакомство с языком</h2>
<div class="types">
    <p>Привет! В этом уроке мы начнем изучать язык java.</p>
    <p>
       <a href="https://ru.wikipedia.org/wiki/Java">
         <img src = "java.png" alt = "Java" width="500">
     </a>
    </p>
    <p>Java является строго типизированным языком программирования.<br>
        Это значит, что каждая переменная имеет определенный тип,<br>
        который строго определен и неизменяем.
    </p>
</div>
</body>
</html>